.documentInfo {
	display: grid;

	height: fit-content;
	margin-top: 40px;
	margin-left: 60px;
	justify-self: left;
	gap: 20px;
}

.title {
	width: 90%;
}

.text {
	width: 60%;

	font-weight: 500;
}

.doc {
	width: 60%;
	height: 200px;

	border-radius: 20px;
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.tagsDiv {
	display: grid;

	width: fit-content;
	gap: 10px;
}

.tagsText {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--primary);

	font-weight: 700;
}

.price {
	display: grid;
	align-items: center;

	width: fit-content;
	margin-top: 20px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--primary);

	font-weight: 900;
	grid-template-columns: auto auto;
	gap: 20px;
}

.price > svg {
	width: 40px;
	fill: var(--primary);
}

.tagsText:active,
.price:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.tagsText:hover,
	.price:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.documentInfo {
		margin-left: 40px;
	}

	.doc {
		border-radius: 15px;
	}

	.doc,
	.text {
		width: 80%;
	}

	.price {
		gap: 15px;
	}

	.price > svg {
		width: 30px;
	}
}

@media (max-width: 580px) {
	.documentInfo {
		margin-top: 20px;
		margin-left: 20px;
	}

	.doc {
		border-radius: 10px;
	}

	.tagsDiv {
		gap: 6px;
	}

	.price {
		gap: 10px;
	}

	.price > svg {
		width: 20px;
	}
}
