.userIcon {
	display: grid;
	align-items: center;

	width: 30px;
	height: 30px;
	margin-right: 60px;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 9999px;
	background: var(--primary);
	justify-items: center;
}

.userIcon > svg {
	width: 14px;
	fill: var(--white);

	transition-duration: 300ms;
}

.userIcon:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.userIcon:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.userIcon {
		width: 22px;
		height: 22px;
		margin-right: 40px;
	}

	.userIcon > svg {
		width: 10px;
	}
}

@media (max-width: 580px) {
	.userIcon {
		margin-right: 20px;
	}
}
